body {
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./Images/topography.svg),
    linear-gradient(110deg, #f93d66, #6d47d6);
  background-size: 340px, auto;
  background-attachment: fixed;
}
nav {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
nav div {
  height: 47px;
  width: 259px;
  text-align: center;
  background-color: #ffc600;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -1px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#article1 {
  height: 400px;
  display: grid;
  grid-template-columns: 450px 454px 414px 414px;
  grid-template-rows: 190px 190px;
  margin-top: 50px;
  gap: 20px;
}
#article1-1 {
  grid-row: 1/3;
  grid-column: 1/3;
  line-height: 50px;
  padding: 50px;
  background-image: url(./Images/taco.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position-x: right;
  background-position-y: bottom;
}
#article1-2 h1,
#article1-3 h1 {
  font-size: 60px;
  text-align: center;
  line-height: 10px;
}
#article1-2 p,
#article1-3 p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#article1-1 h1,
#article1-1 h3 {
  background-color: #ffc600;
  display: inline;
  padding: 5px;
}
#article1-1 h1 {
  font-size: 28px;
}
#article1-2 {
  background-color: #ffc600;
}
#article1-3 {
  grid-row: 2/3;
  background-color: #ffc600;
}

#article2 {
  display: grid;
  height: 600px;
  grid-template-rows: 181px 400px;
  grid-template-columns: 325px 325px 325px 325px;
  gap: 20px;
}
#article2-5 {
  grid-column: 1/5;
}
#article2 div {
  text-align: center;
  background-color: white;
}
#article2 div p {
  font-size: 21px;
  line-height: 2px;
}
#article2 div span {
  font-size: 50px;
}
#article2-5 {
  display: flex;
  padding: 40px;
  align-items: center;
}
#article2-5 img {
  height: 290px;
  width: 390px;
}
#article2-5 div {
  height: 200px;
  text-align: left;
}
#article2-5 h5 {
  line-height: 8px;
  font-size: 13px;
  font-weight: 800;
}
#article2-5 div button {
  height: 36px;
  width: 125px;
  background-color: #ffc600;
  border: none;
}

#article3 h2 {
  text-align: center;
  background-color: #ffc600;
}
#article3 div div img {
  height: 203px;
  width: 203px;
}
#article3 div {
  display: grid;
  grid-template-columns: 205px 205px 205px 205px 205px 205px;
  grid-template-rows: 206px 206px;
  gap: 25px;
}
